<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
               <img src="../assets/images/univer-logo.jpeg" alt="">
            </div>
            <span class="logo_name" style="font-size: 17px;">Happy University</span>
        </div>
        <div class="menu-items">
            <ul class="nav-links">
                <li><a routerLink="/teacher">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dahsboard</span>
                </a></li>
                <li><a routerLink="/teacher-profile">
                    <i class="uil uil-files-landscapes"></i>
                    <span class="link-name">My Profile</span>
                </a></li>
                <!-- <li><a href="#">
                    <i class="uil uil-chart"></i>
                    <span class="link-name">Course List</span>
                </a></li> -->
                <!-- <li><a routerLink="/teacher-reference">
                    <i class="uil uil-thumbs-up"></i>
                    <span class="link-name">Reference</span>
                </a></li> -->
               
            </ul>
            
            <ul class="logout-mode">
                <li><a routerLink="/">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
                
            </ul>
        </div>
    </nav>
    <section class="dashboard">
        <div class="top">
            
            <div class="search-box">
                <i class="uil uil-search"></i>
                <input type="text" placeholder="Search here...">
            </div>
            <a routerLink="/teacher-notification" style="margin-left: 210px;" href="">
                <img src="https://www.svgrepo.com/show/304531/notification-alert.svg" alt="">
            </a>
            
            <a style="margin-right: 50px;" routerLink="/teacher-profile">
                <img src="../assets/images/avatar.svg" alt="">
            </a>
        </div>
        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class="uil uil-tachometer-fast-alt"></i>
                    <span class="text">Teacher Notificaion</span>
                </div>
                <div class="boxes">
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <div class="new-message-box">
                                    <div class="new-message-box-alert">
                                        <div class="info-tab tip-icon-alert" title="error"><i class="fas fa-exclamation-triangle"></i></div>
                                        <div class="tip-box-alert">
                                            <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
                                            <p >ID: <a style="margin-left: 5px; margin-right: 5px; color: rgb(34, 100, 198)" href="">210107046</a> Medicine Document  <a class="btn btn-sm" style="color: rgb(33, 102, 181)">med.pdf</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <div class="new-message-box">
                                    <div class="new-message-box-alert">
                                        <div class="info-tab tip-icon-alert" title="error"><i class="fas fa-exclamation-triangle"></i></div>
                                        <div class="tip-box-alert">
                                            <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
                                            <p >ID: <a style="margin-left: 5px; margin-right: 5px;  color: rgb(34, 100, 198);" href="">210107051</a> Medicine Document  <a class="btn btn-sm" style="color: rgb(33, 102, 181)">med.pdf</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <div class="new-message-box">
                                    <div class="new-message-box-alert">
                                        <div class="info-tab tip-icon-alert" title="error"><i class="fas fa-exclamation-triangle"></i></div>
                                        <div class="tip-box-alert">
                                            <!--<p><strong>Tip:</strong> If you want to enable the fading transition effect while closing the alert boxes, apply the classes <code>.fade</code> and <code>.in</code> to them along with the contextual class.</p>-->
                                            <p >ID: <a style="margin-left: 5px; margin-right: 5px; color: rgb(34, 100, 198)" href="">210107083</a> Medicine Document  <a class="btn btn-sm" style="color: rgb(33, 102, 181)">med.pdf</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                    
                       
                    
                        
                     </div>
               
                   
                    
                </div>
            </div>
           
        </div>
    </section>
</body>