/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */


/* <link href="./node_modules/bootstrap/dist/css/bootstrap-grid.min.css" rel="stylesheet">
<script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.js"></script> */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
@import url('https://kit.fontawesome.com/a81368914c.js');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');


@import url('https://unicons.iconscout.com/release/v4.0.0/css/line.css');


:root {
    --body-color: #E4E9F7;
    --sidebar-color:#FFF;
    --primary-color-light:#F6F5FF;
    --primary-color:#695CFE;
    --toggle-color-color:#DDD;
    --text-color:#707070;


    --tran-03:all 0.2s ease;
    --tran-03:all 0.3s ease;
    --tran-04:all 0.4s ease;
    --tran-05:all 0.5s ease;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #fff;
    
    /* ====== Transition ====== */
    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;
}






html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }